.container-fluid {
    background-color: rgb(245, 236, 225);
    width: 100%;
    height: auto;
}

.warning {
    background-color: #ffffff;
    height: 550px;
}

.content-90 {
    width: 90%;
    margin: 0 auto;
}

.img-logo {
    max-width: 100%;
    height: 50px;
}

.btn.btn-warning.my-custom-element {
    background-color: #fd7e14 !important;
    border-color: #fd7e14 !important;
}

span .signincolor {
    color: #fd7e14;
}